extends layout

block content
  section
    nav: ul
      li: a(href='/admin/create') New Post
    each post in posts
      div
        span= moment(post.createdAt).format("MMM Do, YYYY")
        a(href=`/post/${post._id}`): h3= post.title
