extends layout

block content
  section
    a(href='/') Home

    h1 Login

    main
      form(action='/login' method='post')
        label(for='email') Email
        input(type='text' name='username' placeholder='Email' id='email')

        label(for='password') Password
        input(type='password' name='password' placeholder='Password' id='password')

        button(type='submit') Login
